.menu-item{
    color: white;
    background-color: #0d6efd;
    border-radius: 7px;

}

.sidebar-nav{
    box-shadow: 1px 0px 0px 1px #e3dede;
    position: fixed;
    height: 100%;
    background-color: #0404040f;
}

a{
    text-decoration: none;
}

ul li{
  width: 100%;
  padding:  10px 8px;  
}

ul li:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;

}