<!-- <div class="col-md-6 offset-md-3 p-3">
    <h3 class="text-center">Register New Student</h3>
    <form action="">
        <div class="form-group my-2">
            <label for="Roll number">Roll Number</label><br>
    
            <input type="
                number" aria-label="Roll No.">    
        </div>
        <div class="form-group my-2">
            <label for="Department">Department</label>
            <select class="form-select" #Department="ngModel" name="department" [(ngModel)]="user.department" aria-label="Department selector">
                <option selected>Select Department</option>
                <option value="1">Computer Science and Engineering</option>
                <option value="2">Civil Engineering</option>
                <option value="3">Electronic Engineering</option>
                <option value="3">Electric Engineering</option>
                <option value="3">Mechanical Engineering</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="month">Month</label>
            <select class="form-select" aria-label="Month Selector">
                <option selected>Select Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="year">Year</label>
            <select class="form-select" aria-label="Year Selector">
                <option selected>Select Year</option>
                <option value="1">I</option>
                <option value="2">II</option>
                <option value="3">III</option>
                <option value="4">IV</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="sem">Semester</label>
            <select class="form-select" aria-label="Semester Selector">
                <option selected>Select Sem</option>
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
            </select>
        </div>
        <div class="text-center mt-2">

            <button class = "btn btn-success mt-2"  type ="submit">Submit</button>
        </div>
</form>
</div>
 -->
